<html ng-app="myAngularApplication">
    <head>
        <title>Sample Angular Js Application</title>
        <script src = "libs/angular.min.js"></script>
        <script src = "app/app.js"></script>
		<script src = "app/book/booksController.js"></script>
    </head>
    <body ng-controller="booksController as ctrl">
       		{{message}}
        </br>
        {{ctrl.greeting}}
        <br><br>
        <input type ="button" ng-click="showBooks()" value = "Show Books">
        <br><br><br>
       Select Country: <select ng-model = "countriesSelected" ng-options = "x for x in countries"></select>
        <table style="width:50%">
            <tr>
                <th>ID</th>
                <th>BookName</th>
                <th>AuthorName</th>
            </tr>
            <tr ng-repeat="book in books">
                <td>{{book.Id}}</td>
                <td>{{book.BookName}}</td>
                <td>{{book.AuthorName}}</td>
            </tr>
        </table>
    </body>
</html>
